
{{extend 'layout.html'}}

{{block head}}

<script>
  var doc_alg_url = "{{=URL('api', 'doc_alg_entry')}}";
  var create_pdf_url = "{{=URL('api', 'create_pdf')}}}";
  var rectify_doc_url = "{{=URL('api', 'rectify_doc')}}}";
  var add_pdf_url = "{{=URL('api', 'add_pdf')}}}";
  var get_pdfs_url = "{{=URL('api', 'get_pdfs')}}";
  var del_pdf_url = "{{=URL('api', 'del_pdf')}}";
  console.log(get_pdfs_url);
</script>

{{end}}


{{request.is_local=True}}
<head>
  {{extend 'layout.html'}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>
  <meta charset="utf-8">
</head>


<div class = "main">
  <div class = "header">
  {{block header}}
  <div id="header_container">
    <img id="title_icon" src="{{=URL('static','images/aperture.svg')}}" >
    <h1 id="title_name">{{=request.application}}</h1>
    <ul class="menu right">
      <li id="user_menu">
        {{=auth.navbar(mode='dropdown')}}
      </li>
    </ul>
    </div>
  {{end}}
  </div>


  <div class = "main_content">
    <div id="vue-div" style="display:none">
      {{if auth.user is not None:}}
      <!-- IN MAIN MODE -->
      <div id="main_mode">
        <div v-if="is_making_pdf">
          <div id="mainState0" class="select" id="videoSourceSelect">
            <p><b>Tap or click the camera to continue!</b></p>
            <label for="img_input">
                <i v-if="!isProcessing" class="cam_btn fa fa-camera"></i>
                <i v-if="isProcessing" class="cam_btn fa fa-spinner fa-spin" ></i>
            </label>
            <input id="img_input" style="display:none;" type="file" accept="image/*" v-on:change="openFile"/>

          </div>
          <div id="mainState1" style="display:none">
            <p style="text-align: center;">
              <b>
                <br/>
                The server could not detect the corners of your document.
                <br/>
                Manually drag the points to match the corners of your document.
              </b>
            </p>
            <canvas class="canvas" id="imgcanvas"></canvas>
            <div style="margin-top: 7px;" class="mainState1buttons">
              <button v-on:click="resetPhoto">Retake Photo</button>
              <button v-on:click="post_button" >Proceed</button>
              <i v-if="isProcessing" class="fa fa-spinner fa-spin" ></i>

            </div>
          </div>
          <div id="mainState2" style="display:none">
            <div>
              <input v-model="title" placeholder="Untitled" type="text" v-on:blur="" style="border: black 1px solid" />
            </div>
            <div>
            <img class="img" v-bind:src="imagelist[currentPage]">
            </div>
            <div style="margin-top: 7px;">
              <button v-if="currentPage > 0" style="margin-right: 100px;" v-on:click="prev_page">
                <i class="fa fa-chevron-left"></i>
              </button>
              <button v-if="currentPage === 0" style="margin-right: 100px; background-color: gray;" disabled>
                <i class="fa fa-chevron-left"></i>
              </button>
              <button style="margin-left: 100px;" v-on:click="next_page">
                <i v-if="currentPage < imagelist.length - 1" class="fa fa-chevron-right"></i>
                <i v-if="currentPage === imagelist.length - 1" class="fa fa-plus"></i>
              </button>
              <div>
                 <div><button v-on:click="editPhoto">Edit Photo</button></div>
                 <div><button v-on:click="imglist_to_pdf()">Complete as
                 PDF</button></div>
                 <div><button v-on:click="is_making_pdf = false; imagelist = []">Cancel PDF</button></div>
              </div>

            </div>
          </div>
          </div>
          <div v-else>
              <div><button v-on:click="is_making_pdf=true">Create a new PDF</button></div>
          </div>
        <div>
          <button v-on:click="display_archive">Archive</button>


        </div>
      </div>



      <!-- IN ARCHIVE MODE -->
      <div id="archive_mode" style="display:none">
        <button v-on:click="display_main">Back to PDF Creator</button>
        <!-- <p>Table length: ${pdfList.length}</p> -->
        <div>
          <table style="width: 100%">
            <tbody>
              <tr v-for="item in pdfList">
                <!-- TODO: v-on:click and create download pdf from database fcnm -->
                <td>
                  <!-- ${item} -->
                  <p><b>${item.title}</b></p>
                  <p>Created on: ${item.created_on}</p>
                  <div>
                    <!--<a class="btn" v-bind="{href:item.pdf_uri, download:item.title + '.pdf'}"><i class="fa fa-download left" ></i></a> -->
                    <button v-on:click="downloadPDF(item.id)"><i class="fa fa-download left" ></i></button>
                    <button v-on:click="deletePDF(item.id)"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      {{else:}}
      <!-- IN LOGIN MODE -->
      <div>
        <h1>LOGIN MODE</h1>
        <h2>Login to Continue</h2>

        <a href="{{=URL('default', 'user')}}" class="btn">Log in with Email</a>
        <a href="{{=URL('default', 'user')}}/register" class="btn">Sign up!</a>

      </div>

      {{pass}}

    </div>
  </div>
</div>

<script src="{{=URL('static', 'js/jspdf.min.js')}}"></script>
<script src="{{=URL('static', 'js/adapter-latest.js')}}"></script>
<script src="{{=URL('static', 'js/jquery.min.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
