
{{extend 'layout.html'}}

{{block head}}

<script>
var doc_alg_url = "{{=URL('api', 'doc_alg_entry')}}";
</script>

{{end}}


{{request.is_local=True}}
<head>
  {{extend 'layout.html'}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{=URL('static','css/calendar.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>
  <meta charset="utf-8">
</head>


  <div class = "main">
    <div class = "header">
    {{block header}}
      <h1>{{=request.application}}</h1>
    {{end}}
    </div>


  <div class = "main_content">
    <div id="vue-div" class="display:none">
      {{if auth.user is not None:}}
      <!-- IN MAIN MODE -->
      <div>
        <h1>MAIN MODE</h1>
      
        <div  class="select" id="videoSourceSelect">
          <label for="videoSource">Video source: </label>
          <select id="videoSource"></select>
        </div>
        <div>
          <video class="video"></video>
          <button id="screenshot-button" style="">Take Photo</button>
          <button id="draw-button" style="">Draw Test</button>
          <button id="post-button" style="">Send to Server</button>
        </div>
        <div>
          <canvas class="canvas" id="imgcanvas"></canvas>
          <canvas class="canvas" id="imgcanvas_fromserver"></canvas>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
        <button id="btn-download">download</button>
      </div>
      
      
      
      <!-- IN ARCHIVE MODE -->
      <div v-if="archive_mode">
        <h1>ARCHIVE MODE</h1>
      </div>
      
      
      {{else:}}
      <!-- IN LOGIN MODE -->
      <div>
        <h1>LOGIN MODE</h1>
        <h2>Login to Continue</h2>
        <button id="google-login" style="" class="btn">Login with Google</button>
        <a href="{{=URL('default', 'user')}}" class="btn">Log in with Email</a>
        <a href="{{=URL('default', 'user')}}/register" class="btn">Sign up!</a>
        
      </div>
      
      {{pass}}
      
    </div>
  </div>

</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{=URL('static','js/video.js')}}"></script>
<script src="{{=URL('static','js/canvas.js')}}"></script>
<script src="{{=URL('static', 'js/default_index.js')}}"></script>


