{{extend 'layout.html'}}

{{block head}}
{{end}}


  <div class = "main">
    <div class = "header">
    {{block header}}
      <h1>{{=request.application}}</h1>
    {{end}}
    </div>


    <div class = "main_content">
      <div id="vue-div" class="display:none">
        <div class="select" id="videoSourceSelect">
          <label for="videoSource">Video source: </label>
          <select id="videoSource"></select>
        </div>
        <div>
          <video class="video"></video>
          <button id="screenshot-button" style="">Take Photo</button>
          <button id="draw-button" style="">Draw Test</button>
        </div>
        <div>
          <canvas class="canvas" id="imgcanvas"></canvas>
          <!-- <img id="screenshot-img" src="">
          <canvas id="corners-canvas"></canvas> -->
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
        <button id="btn-download">download</button>
      </center>
    </div>
  </div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{{=URL('static','js/video.js')}}"></script>
<script src="{{=URL('static','js/canvas.js')}}"></script>
