/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
body {
  margin: 0px;
  padding: 0px;
}

/* line 10, ../sass/_main.scss */
div.main {
  text-align: center;
}
/* line 12, ../sass/_main.scss */
div.main div.header {
  background-color: #333;
  color: white;
  padding: 0.37em 0;
}
/* line 18, ../sass/_main.scss */
div.main div.main_content {
  height: auto;
}
/* line 20, ../sass/_main.scss */
div.main div.main_content div.select {
  display: inline-block;
}
/* line 24, ../sass/_main.scss */
div.main div.main_content .box {
  display: block;
  border: 5px solid black;
  margin: 0 20% 0 20%;
  width: calc(60% -  10px);
  height: auto;
}
@media only screen and (max-width: 400px) {
  /* line 24, ../sass/_main.scss */
  div.main div.main_content .box {
    margin: 0 20% 0 20%;
    width: calc(60% - 10px);
    height: auto;
  }
}
/* line 37, ../sass/_main.scss */
div.main div.main_content .button {
  height: 2em;
  width: 2em;
}
