/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
.header {
  background-color: #333;
  color: white;
  padding: 10px;
}

/* line 11, ../sass/_main.scss */
.main {
  height: 80%;
}
/* line 13, ../sass/_main.scss */
.main div.select {
  margin-top: 30px;
  margin-bottom: 10px;
}
/* line 18, ../sass/_main.scss */
.main .video {
  border: 5px solid black;
}
@media only screen and (max-width: 400px) {
  /* line 18, ../sass/_main.scss */
  .main .video {
    width: 80%;
  }
}
@media only screen and (min-width: 400px) {
  /* line 18, ../sass/_main.scss */
  .main .video {
    height: 80%;
  }
}
