/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
.header {
  background-color: #333;
  color: white;
  padding: 10px;
}

/* line 11, ../sass/_main.scss */
.main {
  padding: 50px;
}

/* line 15, ../sass/_main.scss */
.video {
  border: 5px solid black;
}
