.colorful {
  color: $clrHilight;
}

body{
    margin: 0px;
    padding: 0px;
}

div.main{
  text-align: center;
  div.header {
    background-color: #333;
    color: white;
    padding: 0.37em 0;
  }

  div.main_content{
  height: auto;
    div.select{
        display:inline-block
    }

    .canvas {
      border: 5px solid black;
      margin: 0 20% 0 20%;
      width: calc(60% -  10px);
      height: auto;
      @media only screen and (max-width: 400px){
        margin: 0px;
        width: 80%;
        height: auto;
      }
    }

    .img {
      border: 5px solid black;
      margin: 0 20% 0 20%;
      width: calc(60% -  10px);
      height: auto;
      @media only screen and (max-width: 400px){
        margin: 0px;
        width: 80%;
        height: auto;
      }
    }

    .button {
        height: 2em;
        width:  2em;
    }

    td{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 15px;
    }
  }
}
