.colorful {
  color: $clrHilight;
}

body{
    margin: 0px;
    padding: 0px;
}

div.main{  
  text-align: center;
  div.header {
    background-color: #333; 
    color: white;   
    padding: 0.37em 0;
  }
  
  div.main_content{
  height: auto;
    div.select{
        display:inline-block
    }
    
    .video {
      border: 5px solid black;
      margin: 0 20% 0 20%;
      width: calc(60% -  10px);
      height: auto;
      @media only screen and (max-width: 400px){
        margin: 0 20% 0 20%;
        width: calc(60% - 10px);
        height: auto;
      }
    }
    
    .canvas {
      border: 5px solid black;
      margin: 0 20% 0 20%;
      width: calc(60% -  10px);
      height: auto;
      @media only screen and (max-width: 400px){
        margin: 0 20% 0 20%;
        width: calc(60% - 10px);
        height: auto;
      }
    }
    
    .img {
      border: 5px solid black;
      margin: 0 20% 0 20%;
      width: calc(60% -  10px);
      height: auto;
      @media only screen and (max-width: 400px){
        margin: 0 20% 0 20%;
        width: calc(60% - 10px);
        height: auto;
      }
    }
    
    .button {
        height: 2em;
        width:  2em;
    }
  }
}
