
$secondary-color: #3498db;

.colorful {
  color: $clrHilight;
}

body{
    margin: 0px;
    padding: 0px;
}

#title_icon{
    display: inline-block;
    margin-left: 1em;
    width:3em;
}

#title_name{
    display: inline-block;
    margin:0px;
}

.menu{
    color:$secondary-color !important;
    margin-top: 1em;
    border: 3px white;

}

#header_container{
    vertical-align: middle;
}


div.main{
  .cam_btn {
      font-size: 1000%;
      margin:10px;
  }
  .cam_btn:hover{
      color: $secondary-color;
  }
  div.header {
    vertical-align: middle;
    height:auto;
    background-color: #333;
    color: white;

  }

  div.main_content{
  text-align: center;

  margin-top: 2em;
  height: auto;
    button{
        background-color: $secondary-color;
    }
    div.select{
        display:inline-block
    }

    .canvas {
      border: 5px solid black;
      margin: 0 20% 0 20%;
      width: calc(60% -  10px);
      height: auto;
      @media only screen and (max-width: 400px){
        margin: 0px;
        width: 80%;
        height: auto;
      }
    }

    .img {
      border: 5px solid black;
      margin: 0 20% 0 20%;
      width: calc(60% -  10px);
      height: auto;
      @media only screen and (max-width: 400px){
        margin: 0px;
        width: 80%;
        height: auto;
      }
    }

    .button {
        height: 2em;
        width:  2em;
    }

    td{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 15px;
    }
    
    a.no_underline{
        
    }
  }
}
